:root {
  /* Для выпадающих списков */
  --text-color: #faca78;
  --border-color: black;
  --divider-and-clear-color: black;
  --light-color: #777;
  --options-background: rgba(0, 0, 0, 0.97);
  --selected-options-background: #f59607;
  --highlighted-option-background: #d89025;
  /* Цвет ссылок */
  --link-color: #0a0a0a;
}

* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  background: #111111;
  padding: 10px 20px;
  z-index: 99999999;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list li:last-child {
  margin-right: 0;
}

.nav-list li a {
  font-family: Comfortaa;
  text-decoration: none;
  color: #fadcaa;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
  position: relative;
}
.nav-list li a:after {
  display: block;
  position: absolute;
  left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0; /*задаём длинну линии до наведения курсора*/
  height: 2px; /*задаём ширину линии*/
  background-color: #fadcaa; /*задаём цвет линии*/
  content: "";
  transition: width 0.3s ease-out; /*задаём время анимации*/
}

.nav-list li a:hover:after {
  width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

/* .nav-list li a:hover {
    width: 100%;
    /* text-decoration: underline; */
/* transition: 0.3s; */
/* color: #eb3425; */
/* Change the color on hover */
/* } */

.rightNav {
  text-align: right;
}

#search {
  padding: 8px;
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 5px;
  font-family: Comfortaa;
}

.btn {
  background-color: #111111;
  color: #fadcaa;
  /* border: none; */
  border-color: #fadcaa;
  padding: 8px 12px;
  border-width: 1px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-family: Comfortaa;
}

.btn:hover {
  background-color: #fadcaa;
  /* Change the background color on hover */
  color: #111111;
}

/* Список результатов поиска */
.search_options li {
  display: flex;
  align-items: center;
  padding-right: 5px;
  margin-bottom: 4px;
}

.search_options {
  margin-top: 5px;
  position: absolute;
  display: none;
  border: 1px solid rgb(0, 0, 0);
  list-style: none;
  width: 27%;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.95);
  color: #fadcaa;
  font-family: Comfortaa;
  border-radius: 5px;
}

.search_options.show {
  display: block;
}

.search_options img {
  width: 70px;
  height: 70px;
  padding-right: 10px;
}

/* Элементы сортировки */
.sort_elements {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
/**/

.catalog {
  display: block;
  box-sizing: border-box;
}

.catalog_title {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  justify-content: space-between;
}

.title {
  margin-bottom: 0;
  margin-top: 0;
  vertical-align: middle;
}

.products {
  position: relative;
  display: flex;
  /* padding-top: 10px; */
  min-height: 100%;
  padding-top: 5px;
  padding-left: 24px;
  padding-right: 24px;
  /* padding: 24px; */
}

.catalog_left-block {
  display: block;
  margin-right: 12px;
  width: 234px;
  /* z-index: 10; */
  height: 100%;
}

.left-filters {
  display: block;
  position: relative;
  transform: translate3d(0px, 0px, 0px);
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 1px 2px 0 #0000001a;
  box-sizing: border-box;
  padding: 10px 15px;
  border: 1px solid black;
}

.genres {
  display: block;
}

h2 {
  font-family: Comfortaa;
  color: #fadcaa;
  font-size: 18px;
  line-height: 28px;
}

.ui-checkbox {
  font-family: Comfortaa;
  color: #fadcaa;
  margin-bottom: 0;
  cursor: pointer;
  display: block;
  font-size: 16px;
  padding: 8px 0 8px 23px;
  position: relative;
}

.ui-checkbox_gr {
  left: 0;
  border-radius: 4px;
  box-sizing: border-box;
  height: 16px;
  position: absolute;
  top: 10px;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.23, 1);
  width: 16px;
}

/* Стили карточек */
.catalog_content {
  display: grid;
  /* flex-wrap: wrap; */
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 30px;
}

.card {
  padding: 10px;
  border: 1px solid black;
  max-height: 330px;
}

.catalog_content {
  margin-left: 60px;
}
.temp {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_img {
  max-width: 200px;
  max-height: 250px;
}

.titles {
  /* margin-top: 2px; */
  display: flex;
  flex-direction: column;
  /* margin-bottom: 3px; */
  /* gap: 5px; */
}

.titles .name {
  width: 200px;
}
.titles p {
  text-align: center;
}

/* Dropdown */
.clear_btn {
  background: none;
  color: var(--divider-and-clear-color);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  font-size: 1.25rem;
}

.clear_btn:focus,
.clear_btn:hover {
  color: var(--light-color);
}

.sort {
  margin: 10px 0 5px;
  position: relative;
  width: 10em;
  min-height: 0.5em;
  border: 0.05em solid var(--border-color);
  display: flex;
  align-items: center;
  gap: 0.2em;
  padding-left: 0.3em;
  padding-right: 0.1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-radius: 0.25em;
  outline: none;
}

.container {
  margin: 10px 0 5px;
  position: relative;
  width: 10em;
  min-height: 1.5em;
  border: 0.05em solid var(--border-color);
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  border-radius: 0.25em;
  outline: none;
}

.container:focus {
  border-color: var(--light-color);
}

.value {
  flex-grow: 1;
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  -webkit-text-fill-color: var(--text-color);
}

.divider {
  background-color: var(--divider-and-clear-color);
  align-self: stretch;
  width: 0.05rem;
}

.caret {
  translate: 0 25%;
  border: 0.25em solid transparent;
  border-top-color: var(--border-color);
}

.options {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  max-height: 15em;
  overflow-y: auto;
  border: 0.05em solid var(--light-color);
  border-radius: 0.25em;
  width: 100%;
  left: 0;
  top: calc(100% + 0.25em);
  background-color: var(--options-background);
  z-index: 100;
  -webkit-text-fill-color: var(--text-color);
}

.options.show {
  display: block;
}

.option {
  padding: 0.25em 0.5em;
}

.option.selected {
  background-color: var(--selected-options-background);
}

.option.highlighted {
  background-color: var(--highlighted-option-background);
}

/* Стили страницы информации о пластинке */
.main_info {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 30px 30px;
}

.body_main {
  display: grid;
  margin-bottom: 1em;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-columns: 320px 1fr;
  grid-template-rows: auto 1fr;
}

.side_pic {
  grid-area: 1 / 1 / 3 / 2;
  display: block;
}

.album_cover {
  display: inline-block;
  line-height: 0;
  position: relative;
}

.album_img {
  width: 250px;
  height: 250px;
}

.title_album {
  font-size: 1.25rem;
  line-height: 1.5;
  grid-area: 1 / 2 / 2 / 3;
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 1.25rem;
}

.table_info {
  grid-area: 2 / 2 / 3 / 3;
  margin-left: 1rem;
  font-size: 1rem;
  line-height: 1;
}

.table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
  border-spacing: 0;
  line-height: 3em;
  box-sizing: border-box;
  text-indent: initial;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
  border-collapse: collapse;
}

tr {
  vertical-align: top;
  display: table-row;
}

th {
  padding-bottom: 8px;
  vertical-align: top;
  width: 0;
  text-align: left;
  padding-right: 1.5rem;
  white-space: nowrap;
  font-weight: 7 00;
  display: table-cell;
}

td {
  padding-bottom: 8px;
  vertical-align: top;
  display: table-cell;
}

header {
  border-bottom: 1px solid #e5e5e5;
}

.table_tracklist {
  display: table;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
  border-spacing: 2px;
  line-height: 2em;
  box-sizing: border-box;
  text-indent: initial;
  /* display: table-row-group; */
  vertical-align: middle;
  border-color: inherit;
}

.table_tracklist tr:last-of-type {
  display: table-row;
  vertical-align: top;
  border-bottom: 1px solid #e5e5e5;
  border-collapse: collapse;
}

.track {
  width: 100%;
  word-break: break-word;
  position: relative;
}

.carousel {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 90vw;
}

.carousel img {
  margin-left: 25vw;
  max-width: 500px;
}

/* Страница исполнителя */
.info {
  padding-right: 400px;
}

.other_content {
  position: relative;
  display: flex;
  /* padding-top: 10px; */
  min-height: 100%;
  padding-top: 5px;
  padding-left: 80px;
  padding-right: 30px;
  /* padding: 24px; */
}

.discography {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px 30px;
}

/* Класс текста Nothing... если результатов нет(тег <p></p> */
.empty_result_p {
}

/* Класс ссылок результатов поиска */
.search_link,
.search_link:visited {
  color: red !important;
}

/* Стили вообще для всех ссылок */
a,
a:visited {
  text-decoration: none;
  color: var(--link-color);
}
